* {
    margin: 0;
    padding: 0;
}
input[type=file] {
    width: 85%;
}

#header {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: inherit !important;
    padding-bottom: 1em;
    z-index: 1;
}

.content {
    position: relative;
    margin-top: 7em;
}

#logo {
    height: 2em;
}

#logo_wrapper {
    background-color: #5A5AD2;
    padding: 0.2em 0;
    text-align: center;
}

.tool-name {
    color: #42E2BC;
    font-weight: 500;
}

.main-descr {
    font-size: 1em;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
}

#all_content {
    display: none;
}

.button-custom {
    background-color: #42E2BC;
    color: white;
    border-style: none;
}
.button-custom:hover {
    background-color: #5A5AD2;
    color: white;
}

.text-section {
    font-size: 2em;
    color: #42E2BC;
    font-family: 'Calibri';
    margin-bottom: 0;
}

.text-sub-section {
    font-size: 1.5em;
    color: #5A5AD2;
    font-family: 'Calibri';
}

.text-sub2-section {
    font-size: 1.1em;
    font-weight: 400;
    color: #111;
}

.session-info {
    display: none;
}

.text-footnote {
    padding: 1em 1em;
    width: 100%;
    font-size: 1em;
    color: #333;
    text-align: justify;
    float: left;
    margin: auto;
    font-family: 'Calibri';
}

.form-container {
    padding: 5% 10%;
    display: block;
    text-align: justify;
    background-color: #eee;
}

.submit-section {
    padding: 2%;
}

.form-text {	
    padding: 1em 0em;
    width: 100%;
    text-align: center;
    margin: auto;
    font-family: 'Calibri';
    font-size: 1.4em;
    color: #333;
}

.custom-caret {
    border-top: 0.5em solid #aaa;
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
}

.remark {
    color: #888;
    font-size: 0.75em;
}
.remark-wrapper {
    max-width: 85%;
}

#id_input_text {
    width: 100%;
}

#id_user_email {
    width: 100%;
}

.spinner-container {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FF8080;
}

.spinner-in-text {
    height: 1em;
    float: left;
    margin-left: 2em;
}

.center-wrapper {
    text-align: center;
}

.line {
    border: 0 none;
    background-color: #42E2BC;
    height: 1px;
    margin: 0;
}

.help-mark {
    float: right;
    display: inline;
    vertical-align: middle;
    background-color: #aaa;
    border: 1px solid black;
    height: 1.25em;
    width: 1.25em;
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 1.25em;
    line-height: 1.1em;
    color: #fff;
    text-align: center;
    cursor: help;
}
.help-mark-under {
    margin-top: 0.7em;
    position: absolute;
    right: 10%;
}

.sample-download {
    float: right;
    display: inline;
    vertical-align: middle;
    background-color: #F8F8F8;
    border: 1px solid black;
    height: 1.75em;
    margin: 0;
    margin-left: 1em;
    margin-top: 0.2em;
    padding: 0;
}
.sample-output {
    display: inline;
    vertical-align: middle;
    background-color: #F8F8F8;
    color: #333;
    border: 1px solid black;
    margin: 0.2em;
    padding: 0;
}
.more-help {
    display: inline;
    vertical-align: middle;
    background-color: #bbb;
    color: #fff;
    border: 1px solid black;
    margin: 0.2em;
    padding: 0;
}
.sample-download a, .sample-output a, .more-help a {
    text-decoration: none;
    outline: none !important;
    padding: 0 0.5em;
    color: inherit;
}
.sample-download:hover, .sample-output:hover {
    background-color: #bbb;
    color: #fff;
}
.more-help:hover {
    background-color: #F8F8F8;
    color: #333;
}
.sample-download a:hover, .sample-output a:hover, .more-help a:hover {
    color: inherit;
}

.dropdown-menu {
    padding: 0;
}

.sidebar-container {
    position: fixed;
    z-index: 100
}

.sidebar-left {
    background-color: #42E2BC;
    padding: 0;
    margin: 0;
}
.sidebar-left > ul > li {
    width: 100%;
    padding: 1em 0;
    font-family: 'Calibri';
    font-weight: bold;
    text-transform: uppercase;
}
.sidebar-left > ul > li.active {
    color: #fff;
    background-color: #5A5AD2;
    text-decoration: underline;
}
.sidebar-left > ul > li > a {
    padding: 0 0.5em;
    margin: 0;
    font-size: 1em;
}
.sidebar-link, .sidebar-link:visited, .sidebar-link:hover {
    color: inherit !important;
    background-color: inherit !important;
}

#tool_switcher_normal {
    padding: 0;
    width: 100%;
    float: left;
    border-top: solid 1px #bbb;
}
#tool_switcher_normal li {
    font-family: 'Calibri';
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: solid 0.1em #bbb;
    margin: 0;
}
#tool_switcher_normal a {
    color: #333;
    margin: 0;
}
#tool_switcher_normal li.active a {
    background-color: #eee !important;
}

#guide_nav_normal {
    display: none;
}
#guide_nav_menu {
    display: block;
    z-index: 100;
}

#tool_switcher_menu {
    display: none;
    border: none;
    padding: 0;
    margin: 0;
}
#tool_switcher_menu > li > ul {
    border: none;
}
#tool_switcher_menu > li > ul > li > ul > li {
    font-family: 'Calibri';
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
#tool_switcher_menu > li > ul > li > ul > li > a {
    color: #333;
    margin-right: 0;
    border: none;
}
#tool_switcher_menu > li > ul > li > ul > li.active a {
    background-color: #eee;
    border: none;
}

#tool_switcher_container {
    margin: 0;
    padding: 0;
}

#btn-menu {
    background-color: #fff;
    font-size: 1.5em;
    border: none;
}

#tool_content {
    border-bottom: 1px;
    border-left: 0;
    border-right: 0;
    border-top: 1px;
    border-style: solid;
    border-color: #bbb;
    padding: 0 !important;
    margin: 0;
}

.lines-container {
    margin: 0 !important;
    padding: 0;
}

.diagonal-line {
    background-color: #bbb;
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

#main_menu {
    border: none;
}
#main_menu li a {
    text-decoration: none;
    display: block;
    padding: 0.6em 1.5em;
    border: none;
    color: #aaa;
    font-family: 'Calibri';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#main_menu li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.2em;
    width: 0;
    background: #333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#main_menu li > a:hover {
    border: none;
    color: #333;
    background-color: #fff;
}
#main_menu li > a:hover:before {
    width: 100%;
}
#main_menu li.active > a {
    color: #333;
    font-weight: bold;
    border: none;
}
#main_menu li.active > a:hover {
    border: none;
}
#main_menu li.active > a:before {
    width: 100%;
}

@media screen and (min-width: 992px) {
    #guide_nav_menu {
        display: none;
    }
    #guide_nav_normal {
        display: block;
    }
    .sidebar-left {
        margin-top: 1em;
    }
}

@media screen and (max-width: 767px) {
    #logo-wrapper {
        width: 100vw;
    }
    .content-block {
        min-width: 400px;
    }
    #tool_switcher_normal {
        display: none;
    }
    .lines-container {
        visibility: hidden;
    }
    #tool_switcher_menu {
        display: block;
    }
    #tool_content {
        border: none !important;
    }
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
}