{% extends "morfeus_app/base.html" %}

{% block about %}<li class="active"><a href="../about/">About</a></li>{% endblock %}

{% block content %}
<div class="row">
    
    <div class="col-xs-12" style="text-align: justify">
        
        <h2 class="text-section">1. Title</h2>
        <hr class='line'></hr>
        <br />
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
    
        <h2 class="text-section">2. Title</h2>
        <hr class='line'></hr>
        <br />
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
    </div>
</div>

{% endblock %}