{% extends "morfeus_app/base.html" %}

{% block contact %}<li class="active"><a href="../contact/">Contact</a></li>{% endblock %}

{% block content %}
<div class = "textContainer">              
    In case of problems please contact <a href="mailto:susun@biochem.mpg.de">Su Sun</a>.
</div>
<div class= "formContainer">
	<div class="center-wrapper">
		<a href="http://www.mpg.de" target="_blank"><img src="../static/img/mpglogo.png" style="width:22.5%; border:0;" alt="MPG emblem" /></a>
		<br></br>
		<a href="http://www.biochem.mpg.de/en" target="_blank"><img src="../static/img/logo-mpi-biochem.png" style="width:35%; border:0;" alt="MPI Biochem"></a>
	</div>
</div>
{% endblock %}
