{% extends "morfeus_app/base.html" %}

{% block load_additional_scripts %}
<script type="text/javascript" src="../static/js/guide.js"></script>
{% endblock %}

{% block guide %}<li class="active"><a href="../guide/">Guide</a></li>{% endblock %}

{% block content %}
<div class="row">
    <div class="sidebar-container">
        <ul id="guide_nav_menu" class="nav">
            <li class="dropdown">
                <button id="btn-menu" type="button" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 2em"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div id="guide_nav_menu_inner_div" class="navbar sidebar-left"></div>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="guide_nav_normal" class="navbar sidebar-left">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a class="sidebar-link guide-pseudo-button" href="#general_info">1. General Information</a></li>
                <li><a class="sidebar-link guide-pseudo-button" href="#first_mode_input">2. First Mode Input</a></li>
                <li><a class="sidebar-link guide-pseudo-button" href="#first_mode_output">3. First Mode Output</a></li>
                <li><a class="sidebar-link guide-pseudo-button" href="#second_mode_input">4. Second Mode Input</a></li>
                <li><a class="sidebar-link guide-pseudo-button" href="#second_mode_output">5. Second Mode Output</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-lg-9 col-md-9 col-md-offset-3 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1" style="text-align: justify">
        
        <h2 id="general_info" class="text-section">1. General Information</h2>
        <hr class="line"></hr>
        
        <h3 class="text-sub-section">Terms of use</h3>
        <p>This tool is free for both academic and non-academic use.
        No registration is required to access the full functionality of the server.
        However, if you need to process larger protein sets, please <a href="../contact/">contact</a> the authors to get a standalone version for LINUX.
        </p>
        <p>Please note that results are stored on the server only for 7 days.
        </p>
        
        <h3 class="text-sub-section">Requirements</h3>
        <p>The website design is kept simple and light-weight.
        Cookies as well as additional plugins are not required.
        All modern browsers (starting from IE9) are supported.
        The website is fully mobile-friendly.
        </p>
        <p>This website uses Javascript, both for submit and result pages.
        Please make sure that Javascript is enabled whenever you use the server or view results.
        </p>
        
        <h3 class="text-sub-section">Security and privacy</h3>
        <p>The web server does not collect any information about the users.
        Submission of the data can be done completely anonymously; however, users have the option to provide an e-mail address for a notification on job completion.
        Each accepted job gets a unique randomly generated identifier (a 40-character long hexadecimal string), which is required to access the results.
        Please share this identifier only with persons, who are authorized to view the results.
        The results will be permanently deleted from the server on the 8th day upon the job completion.
        </p>
        
        <h3 class="text-sub-section">More information</h3>
        <p>This guide addresses mainly the technical aspects of using the server.
        For information about the scope of use and internal workflow, please visit the <a href="../about/">About</a> page.
        </p>

        <h2 id="first_mode_input" class="text-section">2. First Mode Input</h2>
        <hr class="line"></hr>
        
        <p>The link from the 'More help' button on the first form scrolls to this section.
        </p>
    
        <h3 class="text-sub-section">Input file</h3>
        <p>Input file description. You can also scroll to the <a class="guide-pseudo-button" href="#first_variable">variable description</a>. 
        </p>
        <ul style="margin-left: 2em">
            <li>Point A</li>
            <li>Point B</li>
            <li>Point C</li>
            <li>Point D</li>
        </ul>
        <div class="sample-download" style="float: left"><a href="../downloads/file.fasta" download target="_blank">Sample</a></div>
        <div style="clear:both"></div>
        <div style="height: 0.5em"></div>
    
        <h3 id="first_variable" class="text-sub-section">Variable</h3>
        <p>Variable description. The link from the input file description scrolls here.
        </p>
    
        <h2 id="first_mode_output" class="text-section">3. First Mode Output</h2>
        <hr class="line"></hr>
        
        <br />
        <div class="sample-output"><a href="../downloads/test_results_first/results.html" target="_blank">Output sample</a></div>
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
    
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
        <h3 class="text-sub-section">Submission information</h3>
        <p>The information about the job submission (including all the input parameters) is provided at the bottom of the output page.
        </p>
        
        <h2 id="second_mode_input" class="text-section">4. Second Mode Input</h2>
        <hr class="line"></hr>
        
        <p>The link from the 'More help' button on the second form scrolls to this section.
        </p>
    
        <h3 class="text-sub-section">Input file</h3>
        <p>Input file description. You can also scroll to the <a class="guide-pseudo-button" href="#second_variable">variable description</a>. 
        </p>
        <ul style="margin-left: 2em">
            <li>Point A</li>
            <li>Point B</li>
            <li>Point C</li>
            <li>Point D</li>
        </ul>
        <div class="sample-download" style="float: left"><a href="../downloads/file.fasta" download target="_blank">Sample</a></div>
        <div style="clear:both"></div>
        <div style="height: 0.5em"></div>
        
        <h3 id="second_variable" class="text-sub-section">Variable</h3>
        <p>Variable description. The link from the input file description scrolls here.
        </p>
        
        <h3 class="text-sub-section">Other parameters</h3>
        <p>Description
        </p>
        
        <h2 id="second_mode_output" class="text-section">5. Second Mode Output</h2>
        <hr class="line"></hr>
        
        <br />
        <div class="sample-output"><a href="../downloads/test_results_second/results.html" target="_blank">Output sample</a></div>
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
    
        <h3 class="text-sub-section">Subtitle</h3>
        <p>Content
        </p>
        
    </div>

</div>
<div style="height: 99vh"></div>

<!--Hidden sesion info-->
<div class="session-info">
    <a id="inner_router" class="guide-pseudo-button" href="#{{inner_link}}"></a>
</div>
{% endblock %}

